<script>
    import src from './dev-today.png'
</script>

# In a typical dev setup

<img style="width: 100%;" {src} class="shadow" alt="setup">

## we constantly switch focus
<style>
  h2 {text-align: right;}
</style>