:root {
    --light: #f1f4f8;
    --dark: #2c2d2f;
    --primary: #ff3e00;
    --fg: var(--light);
    --bg: var(--dark);
    --color-scrollbar: rgba(0, 0, 0, 0.3);
    --shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, .2), 0 .25rem 1rem 0 rgba(0, 0, 0, .2), 0 .5rem .25rem -.25rem rgba(0, 0, 0, .2);
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
        --fg: var(--light);
        --bg: var(--dark);
        --color-scrollbar: rgba(255, 255, 255, 0.3);
    }

    body.light {
        --fg: var(--dark);
        --bg: var(--light);
        --color-scrollbar: rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (prefers-color-scheme: light) {
    :root {
        --fg: var(--dark);
        --bg: var(--light);
        --color-scrollbar: rgba(0, 0, 0, 0.3);
    }

    body.dark {
        --fg: var(--light);
        --bg: var(--dark);
        --color-scrollbar: rgba(255, 255, 255, 0.3);
    }
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font-family: 'Fira Mono', monospace;
    font-size: 1.5rem;
    height: 1080px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Mono', monospace;
}

p,
.prose {
    font-family: 'Cooper Hewitt', sans-serif;
    letter-spacing: 0.25px;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: calc(100vw - 2rem);
    max-width: 1920px;
}

a {
    color: currentColor;
    transition: color 200ms ease-in-out;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
    -webkit-overflow-scrolling: touch;
}

*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 0.25rem;
}

html {
    height: 100%;
}
body {
    height: 100%;
}

.shadow {
    box-shadow: var(--shadow);
}

h1,h2,h3,h4 {
  margin-top: 0;
}

h1 {
    margin-bottom: 0.5rem;
}
h2 {
    margin-bottom: 0.25rem;
}
h3 {
    margin-bottom: 0.1rem;
}