# But we have all the context


```js
// svelte.config.js
const config = {
	vitePlugin:{
		experimental: {
			inspector: true
		}
	}
};
export default config;
```

## and tools

<br>

# for svelte-inspector to guide us

![inspector](./inspector.svg)

<style>
  img {transform:translateX(-50%);margin-left: 50%; height: 10rem;}
  h2 {text-align: right;}
  h3 {text-align: center;}
</style>